body {
	background-color: #2f3640;
	background-image: url(./stars-opacity.0979c1.svg);
	font-family: "Nunito", sans-serif;
	min-width: 720px;
}

.container {
	margin-top: 60px;
	padding: 0 20px;
}

.controller {
	display: flex;
	margin: 0 auto;
	width: 698px;
	justify-content: space-between;
	background: #dbd7cc;
	box-shadow: 0 52px 0 #c6c0b0;
	border-radius: 8px;
	border-bottom: 3px solid #99907a;
	padding: 20px;
}

.content-a-display {
	padding-left: 10px;
}

.content-a-control-group {
	display: flex;
	gap: 16px;
	margin-top: 32px;
}

.content-a-control-group-track-control-button-group-wrapper {
	margin-top: 24px;
}
